@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-4 ">
        <h2>Project details</h2>
        <ul class="list-group">
            <li class="list-group-item"><i class="glyphicon glyphicon-education"></i> Diploma thesis project at Wroclaw University of Technology</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-user"></i> Developed by Artur Gasiński</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-open"></i> Supervisor: Ph.D. Łukasz Jeleń</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Browse the slides</h2>

        <ul class="list-group">
            <li class="list-group-item"><i class="glyphicon glyphicon-th"></i> Display, zoom, rotate the slides</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-cog"></i> Check, find, sort slide properties</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-picture"></i> Display all associated images</li>
        </ul>
        <p>
            <a class="btn btn-success green-button" asp-controller="Slides" asp-action="Index">Browse slides &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">

        <h2>Social aspect</h2>
        <ul class="list-group">
            <li class="list-group-item"><i class="glyphicon glyphicon-comment"></i> Leave your comments about the slides</li>
            <li class="list-group-item"><i class="glyphicon glyphicon-user"></i> Exchange emails between app users</li>
            <li class="list-group-item">
                <i class="glyphicon glyphicon-th"></i> Real time chat with other users
            </li>
        </ul>
        <p>
            <a class="btn btn-success green-button" asp-controller="Account" asp-action="Login">Login &raquo;</a>
        </p>
    </div>
</div>

<div>
    <footer>
        <p>
            Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
    </footer>
</div>
