@{
    ViewData["Title"] = "Email confirmed";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">click here</a> to log in.
    </p>
</div>
