@model SlideInfo.App.Models.ContactViewModels.ContactForm
@using SlideInfo.App.Helpers
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<p>
    Contact us to report a bug, suggest a new feature or tell us what you would like us to improve in the app.
    You can use the form below or send a message with your email client by clicking <a href="mailto:slide.info.pwr@gmail.com" title="Contact us">here</a>.
</p>

<form asp-action="Contact">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Slide</label>
            <div class="col-md-10">
                <select asp-for="Subject" class="form-control" asp-items="@Html.GetEnumSelectList<ContactEmailSubject>()">
                    <option selected="selected" value="">-- Select subject --</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
