@model SlideInfo.App.Models.ContactViewModels.ContactForm
@using Microsoft.AspNetCore.Http
@using SlideInfo.App.Constants
@using SlideInfo.App.Helpers
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Contact";
}
@if (Context.Session.GetString(SessionConstants.ALERT) != null)
{
    @Html.Raw(Context.Session.GetString(SessionConstants.ALERT))
    Context.Session.Remove(SessionConstants.ALERT);
}
<h2>@ViewData["Title"]</h2>
<dl>
    <dt>
        Contact us
    </dt>
    <dd>Report a bug, suggest a new feature or tell us what you would like us to improve in the app.</dd>
    <dt>
        Your choice
    </dt>
    <dd>
        You can use the form below or send a message with your email client by clicking <a href="mailto:slide.info.pwr@gmail.com" title="Contact us">here</a>.
    </dd>
</dl>

<form asp-action="Contact">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                @if (string.IsNullOrEmpty(Model.Name))
                {
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Name" class="form-control" readonly />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                @if (string.IsNullOrEmpty(Model.Email))
                {
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Email" class="form-control" readonly />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Subject</label>
            <div class="col-md-10">
                <select asp-for="Subject" class="form-control" asp-items="@Html.GetEnumSelectList<ContactEmailSubject>()">
                    <option selected="selected" value="">-- Select subject --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="4" resize="vertical" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
