@using SlideInfo.App.Constants
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div id="commentSideForm" class="sidenav">
        <form asp-controller="Slides" asp-action="CreateComment" method="post">
            <a href="javascript:void(0)" class="closebtn" onclick="hideCommentForm()">&times;</a>
            <div class="col-xs-12 form-group">
                <label class="sidenav-text">User:</label>
                <input class="form-control" name="commentUserName" type="text" value="@UserManager.GetUserName(User)" readonly>
            </div>

            <div class="col-xs-12 form-group">
                <label class="sidenav-text">Slide name:</label>
                <input class="form-control" name="commentSlideName" type="text" value="@ViewData[ViewConstants.SLIDE_NAME]" readonly>
            </div>

            <div class="col-xs-12 form-group">
                <label class="sidenav-text">Comment:</label>
                <textarea class="form-control" name="commentText" type="text" rows="6" placeholder="Your observations about this slide..." required></textarea>
                <br />
                <input type="submit" value="Submit" class="btn btn-success green-button sidenav-button" />
            </div>
        </form>
    </div>
}