@{
    ViewData["Title"] = "New email confirmed";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Your email has been changed successfully. Please <a asp-controller="Account" asp-action="Login">click here</a> to log in with the new email.
    </p>
</div>
