@model SlideInfo.App.Models.SlideViewModels.AssociatedImagesViewModel

@{
	ViewData["Title"] = "Associated Images | " + Model.Name;
}

<div id="images">

	<h2>@Model.Name associated images</h2>
	@if (Model.AssociatedImages != null)
	{
	<table class="table table-hover table-responsive">
		@foreach (var item in Model.AssociatedImages)
		{
		<tr>
		    <th>
		        <a asp-action="GetAssociatedImage" asp-route-id="@ViewData["SlideId"]" asp-route-imageName="@item.Key">@item.Key</a>
		    </th>
		</tr>
		}
	</table>
	}

</div>
